body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color:hotpink;
  border-bottom:10px dotted purple;
  font-size:2em;
}
h2 {
  font-style:italic;
}
#about{
  font-size:1.5em;
}


.contact-details{
  background-color:#eeeeee;
  border:5px solid purple;
  padding:25px;
}
.job-title{
  color: #999999;
  font-weight: bold;
}
a:link,
a:visited {
  color: #fb6542;
}

a:hover {
  text-decoration: none;
}
